body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;
}

main {
  background: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
}

img {
  max-width: 100%;
}